/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'leaflet/dist/leaflet.css';

.station-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9dcb41bb; 
  font-size: 22px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
